<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Connection" connectionString="Data Source=[SERVER];Initial Catalog=[DB];Uid=[USER];Pwd=[PASS];"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
